<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeMatch.wematch.mapper.Mapper">

    <select id="ifExists" resultType="boolean">
        select count(*) from Member where email=#{email}
    </select>

    <select id="test" resultType="String" >
        select email from Member where name=#{name}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into Member(email,password,name) values(#{email},#{password},#{name})
    </insert>

    <select id="findByEmail" resultType="WeMatch.wematch.domain.member.entity.Member">
        select * from Member where email=#{email}
    </select>

    <select id="getEvent" resultType="WeMatch.wematch.domain.group.dto.TeamEventsResponseDto">

    </select>

    <select id="getTeamMembers" resultType="String">
        select m.name
        from team_member g
        join member m on m.id=g.member_id2
        where group_id2=#{groupId}
    </select>
    <select id="getTeamName" resultType="String">
        select groupname
        from team
        where group_id=1
    </select>
</mapper>